<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Login</title>
</head>

    <h1>
    Welcome to the database!
    </h1>
        <br>
        <body>
        If you would like to log in to an existing account. Just click the link below!
        </body>
        <div id = "login">
            <a href = "/login">Login</a>
        </div>
        <br>
        <body>
        If you would like to create a new account. Just click the link below!
        </body>
        <div id = "NewAcc">
            <a href = "/create_new_user">Create New Account</a>
        </div>
</html>